<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="comment">
 	<select id="commentList" parameterType="string" resultType="hashMap">
 		select comment_seq,comment_regdate,comment_writer,comment_content from comment where comment_parent_seq=#{seq}
 	</select>
 	<select id="commentCount" parameterType="string" resultType="string">
 		select count(*) from comment where comment_parent_seq=#{seq}
 	</select>
 	<insert id="commentWrite" parameterType="hashMap">
 		insert into comment(comment_writer,comment_content,comment_pw,comment_parent_seq) values(#{name},#{content},#{pw},#{parent_seq}) 
 	</insert>
 	<select id="getPassword" parameterType="string" resultType="string">
 		select comment_pw from comment where comment_seq=#{pw}
 	</select>
 	<update id="commentModify" parameterType="hashMap">
 		update comment set comment_content=#{content},comment_regdate=now() where comment_seq=#{seq}
 	</update>
 	<delete id="commentDelete" parameterType="string">
 		delete from comment where comment_seq=#{seq}
 	</delete>
</mapper>