<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="document">
 	<select id="document" parameterType="string" resultType="hashMap">
 		select * from document where document_seq=#{seq}
 	</select>
 	<select id="latelySeq" parameterType="string" resultType="string">
 		select document_seq from document where document_parent_seq=#{subject_seq} order by document_seq desc limit 0,1
 	</select>
 	<insert id="documentWrite" parameterType="hashMap">
 		insert into document(document_title,document_content,document_parent_seq,document_dir) values(#{title},#{content},#{parent_seq},#{dir})
 	</insert>
 	<select id="documentList" parameterType="string" resultType="string">
 		select document_dir from document where document_parent_seq=#{parentSeq}
 	</select>
 	<update id="documentModify" parameterType="hashMap">
 		update document set document_title=#{title},document_content=#{content} where document_seq=#{seq}
 	</update>
 	<delete id="documentDelete" parameterType="string">
 		delete from document where document_seq=#{seq}
 	</delete>
 	<select id="latelyDocumentList" resultType="hashMap">
 		select * from document order by document_seq desc limit 0,9
 	</select>
</mapper>