<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="link">
 	<select id="tagLinkList" parameterType="string" resultType="hashMap">
 		select * from link where link_tag=#{tag}
 	</select>
 	<insert id="addLink" parameterType="hashMap">
 		insert into link(link_name,link_address,link_info,link_tag) values(#{name},#{address},#{info},"footer")
 	</insert>
 	<select id="allLinkList" resultType="hashMap">
 		select * from link
 	</select>
 	<update id="modifyLink"  parameterType="hashMap">
 		update link set link_name=#{name},link_address=#{address},link_info=#{info} where link_seq=#{seq}
 	</update>
 	<delete id="linkDelete" parameterType="string">
 		delete from link where link_seq=#{seq}
 	</delete>
 	<select id="listNum" parameterType="hashMap" resultType="integer">
 		SELECT rn
  		FROM (SELECT @rn := @rn + 1 rn
             , a.*
          FROM (SELECT *
                  FROM document
                 WHERE document_parent_seq = #{parent}
                ) a
             , (SELECT @rn := 0) b
             order by document_seq desc
        ) c
 		WHERE document_seq = #{seq}
 	</select>
</mapper>