<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="subject">
 	
 	<select id="lastSubjectSeq" resultType="Integer">
 		select subject_seq from subject order by subject_seq desc limit 0,1
 	</select>
 	<insert id="insertSubject" parameterType="hashMap">
 		insert into subject(subject_name,subject_dir) values(#{subjectName},#{subjectDir})
 	</insert>
 	<select id="subjectList" resultType="hashMap">
 		select subject_seq,subject_name from subject
 	</select>
 	<select id="subjectInfo" parameterType="string" resultType="hashMap">
 		select * from subject where subject_seq=#{seq}
 	</select>
 	<update id="modifySubjectName" parameterType="hashMap">
 		update subject set subject_name=#{name} where subject_seq=#{seq}
 	</update>
 	<update id="modifySubjectAll" parameterType="hashMap">
 		update subject set subject_name=#{name},subject_dir=#{dir} where subject_seq=#{seq}
 	</update>
</mapper>