
.ModifyPage{
    width: 25%;
    margin-left: 37%;
    margin-top: 10%;
    position: absolute;
}
.ModifyPage h1{
    text-align: center;
}
.ModifyPage h4{
    text-align: center;
}
.ModifySubjectForm{
    text-align: center;
}
.ModifyBody button{
    margin-top: 3vh;
    padding: 8px 15px 8px 15px;
}
.Modify-btn{
    margin-left:33%;
}
.MainImg{
    width:10vw;
    margin-left:30%;
}

.ModifySubject-list{
    list-style: none;
    display: contents;
    cursor: pointer;
}
.ModifySubject-list a:hover{
    color:red;
}
.ModifySubject-div{
    display: inline;
}
.ModifySubject-ul{
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-left: 10%;
    width: 75%;
}
.ModifySubject-ul div{
    text-align: left;
}
.ModifySubject-ul input{
    margin-right:1%;
    display: inline-block;
}
@media(max-width:1280px){
    .ModifyBody button{
        padding: 6px 10px;
        font-size:1.2vw;
    }
    .ModifyPage{
        margin-top:15%;
        margin-bottom:10vh;
    }
}