.AddLink{
    display: inline-block;
    margin-top:12%;
    width:55%;
    margin-left:20%;
    box-shadow: 1px 1px 5px gray;
}
.AddLink h1{
    text-align: center;
}
.AddLink h4{
    text-align: center;
}
.AddLink-btn{
    margin-left:46%;
    margin-top:2%;
    margin-bottom:3vh;
    padding: 5px 10px;
}
.AddLink-submit{
    margin-left:44.5%;
    margin-bottom:2vh;
    padding:8px 17px;
}
.AddLink-table{
    border-collapse: collapse;
    margin-left: 10%;
    width:80%;
    text-align: center;
}
.check{
    width:10%;
}
.name{
    width:30%;
}
.address{
    width:30%;
}
@media(max-width:1280px){
    .AddLink{
        margin-top: 15%;
    }
}
@media(max-width:1024px){
    .AddLink{
        margin-top: 17%;
    }
}