.Footer{
    width: 100%;
    height:6vh;
    background:rgba(0,0,0,.8);
    text-align: center;
    margin-top:94vh;
    position:fixed;
}
.Link{
    text-align: right;
    padding-top:2vh;
    margin-right: 10vw;
}
.Footer a{
    color:white;
}
.Footer a:hover{
    border-bottom:2px solid white;
}