.LoginBox{
    position: fixed;
    width: 15%;
    box-shadow: 2px 2px 3px gray;
    margin-left:2%;
}
.Login-head {
    text-align: right;
    background:rgb(240, 47, 70);
    color:white;
    margin: 0;
    cursor: pointer;
}
.Login-head b{
    margin-left: 35%;
    margin-right: 2%;
    color: white;

}
.Login-body{
    display:none;
    text-align: center;
    margin-top: 1vh;
}
.Login-body input{
    width:7vw;
    padding-left:2%;
}
.Login-btn{
    margin-top:1vh;
    margin-bottom:1vh;
}
.Logout-body{
    text-align:center;
}
.Logout-body h4{
    cursor: unset;
    text-align: center;
}
.Logout-body button{
    margin-top:1vh;
}
@media(max-width:600px){
    .LoginBox{
        position: relative;
        width: 90%;
        margin-left:5%;
    }
    .Login-head{
        padding:2vh 0;
        font-size: 5vw;
    }
    .Login-body label{
        font-size: 4vw;
    }
    .Login-body input {
        width: 50%;
        padding-left: 1%;
        font-size:3vw;
    }
    .Login-btn{
        font-size: 3vw;
        padding: 10px 15px;
    }
    .Logout-body button{
        font-size: 4vw;
        padding: 8px 10px;
    }
}