.ModifyLink{
    display: inline-block;
    margin-top:12%;
    width:55%;
    margin-left:20%;
    box-shadow: 1px 1px 5px gray;
    margin-bottom: 10vh;
}
.ModifyLink h1{
    text-align: center;
}
.ModifyLink h4{
    text-align: center;
}
.Link-modify-btn{
    margin-left:48%;
    margin-bottom:2vh;
}
.ModifyLink-table{
    border-collapse: collapse;
    margin-left: 5%;
    width:90%;
    margin-bottom:3vh;
    text-align: center;
}
.ModifyLink-table input{
    width:90%;
}
.check{
    width:10%;
}
.name{
    width:10%;
}
.address{
    width:30%;
}
.information{
    width:25%;
}
