.Navi{
    text-align: center;
    position: fixed;
    margin-top: 70vh;
    margin-left: 92%;
}
.Navi h4{
    margin-bottom:0;
}
.Navi img{
    border: 1px solid rgb(240, 47, 70);
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width:1vw;
}
.ScrollToTop{
    margin-bottom:3vh;
}
@media(max-width:600px){
    .Navi{
        margin-top: 54vh;
        z-index: 1000;
        margin-left: 90%;
    }
    .Navi img{
        border: 1px solid gray;
    }
}