.Navi{
    position: fixed;
    width: 15%;
    margin-top:28%;
    margin-left: 80%;
    text-align: center;
    border:1px solid rgb(240, 47, 70);
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    background:white;
}
.Navi h4{
    margin-bottom:0;
}
.ScrollToTop{
    margin-top:1vh;
}
.ScrollToBottom{
    margin-bottom:1vh;
}