.Subject{
	border:1px solid rgb(240, 47, 70);
	border-radius: 9px;
	box-shadow: 1px 1px 2px gray;
	width: 15%;
	margin-left: 80%;
	margin-top: 0;
}
.Subject-header{
	padding:1%;
	text-align:center;
	background:rgb(240, 47, 70);
	color:white;
	letter-spacing: 2px;
	font-size:25px;
	border-radius: 7px 7px 0 0;
}
.Subject-body{
	padding:2vh 1vw;
	color:black;
}
.Subject-body a:hover{
	border-bottom:2px solid rgba(255, 0, 30, 0.7);
}
.Subject-pin{
    position: absolute;
    width: 30px;
    margin-left: -50%;
	margin-top: -12%;
	cursor: pointer;
}
.Subject-pin:hover{
	margin-top: -7%;
	transition: 0.5s;
}
.Active-pin{
	position: absolute;
	margin-left: -50%;
    margin-top: -3%;
    cursor: pointer;
    transform: rotatey(180deg);
}
.Active-pin:hover{
	margin-left: -54%;
    margin-top: -6%;
	transition: 0.5s;
}
.Subject-add-btn{
	margin-left:3.8vw;
	margin-bottom:1vh;
}
.Subject-list{
	margin-bottom:1vh;
}