
.DocContent{
	width: 35%;
    margin-left: 27%;
    display: inline-block;
    margin-top: 1%;
    box-shadow: 1px 1px 10px grey;
    padding: 2% 5% 2% 5%;
	min-height: 40vh;
	margin-bottom:2%;
}
.DocContent-title{
	text-align:center;
	word-break: break-word;
}
hr{
	background:gray;
}
.DocContent-content{
	padding-left:2vw;
	padding-top:5vh;
	word-break: break-word;
}
.DocContent-content img{
	max-width: 90%;
}
.DocContent-regdate{
	text-align:right;
	font-family: 'NanumSquareRound';
}
.Doc-button-div{
	text-align: right;
    width: 72%;
}
.Doc-button-div{
	display: inline-block;
    margin-top: 10%;
}
.Doc-modify-btn{
	margin-top: 5vh;
	margin-left: 40%;
}
.CommentWriteForm{
	margin-bottom: 2%;
    width: 45%;
    margin-left: 27%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px grey;
    border: 1px solid #DDD;
    background: #FCFCFC;
}
.CommentWriteForm-header{
	padding: 1% 0;
}
.CommentWriteForm-header label{
	color: rgb(240, 81, 99);
	margin-left:5%;
}
.CommentWriteForm label{
	font-size:16px;
}
.CommentWriteForm input{
	padding-left:5px;
}
.Label-name{
	margin-left: 5%;
}
.Label-password{
	margin-left: 2%;
}
.CommentWriteForm-content{
    width: 80%;
    margin: 1% 5% 1%;
    height: 7vh;
}
.Comment-write-btn{
	position: absolute;
    margin-left: -1%;
    letter-spacing: 2px;
    padding: 15px 18px 15px 18px;
    font-size: 18px;
	margin-top: 1.5vh;
	z-index: 0;
}
.Tap{
	width: 45%;
    margin-left: 27%;
	text-align: left;
	margin-bottom: 1%;
}

.Tap span:nth-child(2){
    margin-left: 1%;
}
.Tap span{
    padding: 10px 15px;
    border: 1px solid rgb(240, 47, 70);
    border-radius: 15px;
    color: rgb(240, 47, 70);
    letter-spacing: 1px;
	font-family: 'NanumSquareRound';
	cursor: pointer;
	font-weight: 600;
}
#Tap-btn-active{
	color: white;
	background:rgb(240, 47, 70);
	transition:0.3s;
}

.Comment-body{
	width: 45%;
	margin-left: 27%;
	box-shadow: 1px 1px 5px gray;
}
.Comment-list{
	border-bottom: 1px solid rgba(221, 4, 29,.2);
}
.Comment-header{
	font-family: 'Roboto';
	font-style: italic;
	padding:1% 1%;
	margin:0;
	background:rgba(221, 4, 29,.8);
	color:white;
	border-top:1px solid rgb(206, 202, 202);
	border-bottom:1px solid rgb(206, 202, 202);
}

.Comment-list img{
	cursor: pointer;
	text-align: right;
}
.Comment-list img:hover{
	transform:rotateZ(720deg);
	transition:0.5s;
}
.Comment-writer{
	margin-left: 3%;
	display: inline-block;
	font-family: 'NanumSquareRound';
	font-size: 14px;
	font-weight: 600;
	margin-bottom:0;
}
.Comment-regdate{
	margin-left: 2%;
	display: inline-block;
	font-family: 'Nanum Barun Gothic';
	font-size: 14px;
	color:gray;
	margin-bottom:0;
}
.Comment-content{
	margin-left: 3%;
	font-size: 17px;
	font-family: 'Roboto';
	word-break: break-word;
	white-space:pre
}
.Comment-edit{
	margin-left:2%;
}
.Comment-del{
	margin-left:0.5%;
}
.Comment-list:nth-child(odd){
	background:rgba(235, 235, 235,.1);
}
.Doc-empty{
	margin-top: 30vh;
    position: absolute;
    margin-left: 37vw;
    text-align: center;
}
.Reset-btn{
	display: none;
}
.Modify-content{
	width: 80%;
	height: 5vh;
	margin-top: 1%;
	margin-left: 3%;
	font-size: 17px;
	margin-bottom:1%;
}
.Comment-Modify-btn{
	position: absolute;
	margin-top: 0.5%;
    padding: 13px 15px;
}
.Label-modify-password{
	margin-left:3%;
}
.Label-delete-password{
	margin-left:3%;
}
#modify-password{
	margin-top:3%;
	font-size: 16px;
	padding-left:1%;
}
#delete-password{
	margin-top:3%;
	font-size: 16px;
	padding-left:1%;
}
.Modify-cancel-btn{
	margin-top:0;
	padding: 5px 10px;
}
.Comment-delete-btn{
	margin-top:0;
	padding: 5px 10px;
}
.Paging{
    text-align: center;
	padding: 2% 0;
	margin-bottom: 5%;
}
.Paging button{
	margin-top:0;
	padding:3px;
}
.Paging-left-btn{
	margin-right: 5px;
}
.Paging a{
    margin-left: 5px;
    font-size: 17px;
	margin-right: 5px;
	font-family: 'NanumSquareRound';
}
#pageNumActive{
	font-weight: 1000;
	color:red;
}
@media(max-width:1280px){
	.Doc-button-div{
		margin-top:27vh;
	}
	.Comment-write-btn{
		font-size:1.1vw;
		padding: 8px 10px;
	}
	.Comment-Modify-btn{
		padding: 11px 12px;
	}
	.CommentWriteForm label{
		font-size:1vw;
	}
	.CommentWriteForm-header{
		font-size:1vw;
	}
	.Tap span{
		padding: 7px 10px;
		font-size:1.3vw;
	}
	.Doc-empty{
		margin-top: 28vh;
		margin-left: 31vw;
	}
	.DocContent{
		min-height: 20vh;
	}
	.title{
		font-size: 1.3vw;
	}
	.DocContent button{
		padding:5px 10px;
		font-size:1.4vw;
	}
	.CommentWriteForm input{
		font-size:1.2vw;
	}
	.Doc-button-div button{
		padding:5px 10px;
		font-size:1.4vw;
	}
	.Comment-body p{
		font-size:1.3vw;
	}
	.Comment-body img{
		max-width: 13px;
	}

}
@media(max-width:600px){
	.DocContent{
		width:85%;
		margin-left:2%;
	}
	.Doc-button-div{
		margin-top: 23vh;
	}
	.CommentWriteForm{
		width: 90%;
		margin-left: 5%;
	}
	.Tap{
		margin-top:5%;
		margin-left: 5%;
		margin-bottom: 4%;
	}
	.Tap span{
		padding: 8px 10px;
		font-size: 3vw;
	}
	.Comment-body{
		width:90%;
		margin-left:5%;
	}
	.CommentWriteForm-content{
		width:70%;
		height: 5vh;
	}
	.Comment-write-btn {
		font-size: 4vw;
		padding: 8px 10px;
	}
	.Comment-body p{
		font-size:4vw;
	}
	.CommentWriteForm-header{
		font-size:4vw;
	}
	.CommentWriteForm label {
		font-size: 3vw;
	}
	.CommentWriteForm input{
		font-size: 3vw;
		width:30%;
	}
	.Doc-button-div{
		width:95%;
	}
	.Doc-button-div button{
		padding: 8px 15px;
		font-size: 4vw;
	}
	.DocContent button{
		padding: 8px 10px;
		font-size: 4vw;
	}
	.Paging{
		margin-bottom:20%;
	}
	#modify-password{
		width:30%;
	}
	.Modify-content{
		width: 70%;
	}
}