.DocWritePage{
    width: 45%;
    margin-left: 28%;
    display: inline-block;
    margin-top: 10%;
}
.DocWritePage-title{
    text-align: center;
}
#toastEditor{
    box-shadow: 1px 1px 5px gray;

}
.tui-editor-defaultUI .te-switch-button{
    padding-left: 5%;
    box-shadow: 1px 1px 5px gray;
}
.tui-editor-defaultUI .te-switch-button.active{
    background-color: white;
    color: rgba(240, 47, 70,.9);
    box-shadow: 1px 1px 5px gray;
}
.Cancel-btn{
    margin-top: 5%;
    margin-left:38%;
}
.Save-btn{
    margin-bottom:10%;
    margin-left:3%;
}
.Doc-textLength{
    text-align: right;
}
.title{
    width: 98%;
    margin-bottom: 1%;
    height: 3vh;
    font-size:18px;
}
.tui-popup-color .te-apply-button{
    color: black;
    bottom: 137px;
}
@media(max-width:1280px){
    .DocWritePage{
        margin-top:15%;
    }
    .btn_save{
        margin-top:5%;
        margin-bottom:13%;
    }
    .tui-editor-defaultUI .te-mode-switch{
        height: 80%;
    }
}
@media(max-width:600px){
    .DocWritePage{
        width: 98%;
        margin-left: 1%;
        margin-top: 40%;
        margin-bottom: 15%;
    }
}