.OtherDocumentList{
	margin-bottom:5%;
    box-shadow: 2px 3px 5px grey;
	width: 45%;
	margin-left: 27%;
    height:40vh;
    overflow: hidden;
}
.OtherDocumentList button{
    padding:8px;

}
.Other-list{
    width: 140px;
    height: 25vh;
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    background: whitesmoke;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    margin-right: 26px;
    margin-top: 20px;
}
#curDocument{
    border: 5px outset tomato;
    cursor: unset;
}
.Other-list-div
{
    width: 9999px;
    text-align: left;
    height: 100%;
    padding-left: 81px;
}
.Other-title-div{
    padding:2%;
    background:rgba(221, 4, 29,.8);
}
.Other-title-div h4{
    margin:0;
    color:white;
    display: inline-block;
}
.Left-button-div{
    display: inline-block;
    margin-top: 7%;
    margin-left:1%;
    position: absolute;
}
.Right-button-div{
    display: inline-block;
    margin-top: 7%;
    margin-left: 42%;
    position: absolute;
}
.Other-list img{
    margin-top:10%;
    width: 90%;
    height: 50%;
}
.Other-list p{
    color:gray;
    font-size:14px;
}
.Other-list b{
    font-family: 'NanumSquareRound';
    font-size: 14px;
}
.Other-title{
    word-break: break-word;
    height: auto;
    position: relative;
    display: grid;
}
.OtherDocumentList h1{
    margin-top: 17%;
    text-align: center
}
.List-option-btn{
    padding: 8px;
    margin: 0 2%;
    background: rgba(86, 77, 77,.8);
}
.List-option-btn:hover{
    background: rgb(86, 77, 77);
}
@media(max-width:1280px){
    .OtherDocumentList{
        height: 50vh;
    }
    .Other-list{
        height: 30vh;
        width:110px;
    }
    .Other-list-div
    {
        width: 9999px;
        text-align: left;
        height: 100%;
        padding-left: 81px;
        padding-top:1vh;
    }
    .Other-list p{
        font-size:.9vw;
    }
    .Other-list b{
        font-size: .9vw;
    }
    .Left-button-div{
        display: inline-block;
        margin-top: 11%;
        margin-left:1%;
        position: absolute;
    }
    .Right-button-div{
        display: inline-block;
        margin-top: 11%;
        margin-left: 40%;
        position: absolute;
    }
    .Other-title-div h4{
        font-size:1.2vw;
    }
    .OtherDocumentList h1{
        font-size:1.5vw;
        margin-top: 20%;
    }
}
@media(max-width:600px){
    .OtherDocumentList{
        width: 90%;
        margin-left:5%;
        height: 40vh;
    }
    .Left-button-div{
        margin-top: 33%;
    }
    .Right-button-div{
        margin-top: 33%;
        margin-left: 76%;
    }
    .Other-list{
        height: 20vh;
        width: 110px;
        margin-top: 6vh;
    }
    .Other-title-div h4{
        font-size:3vw;
    }
    .Other-list p{
        font-size:2vw;
    }
    .Other-list b{
        font-size:3vw;
    }
    .OtherDocumentList h1{
        font-size: 3vw;
        margin-top: 34%;
    }
}